.beach-info-container {
  text-align: center;
  padding: 2rem;
  background-color: var(--secondary-color); /* Light background */
  min-height: 100vh; /* Full viewport height */
  font-family: Arial, sans-serif;
  color: #0066cc; /* Default text color */
}

.beach-info-toolbar {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1rem auto 2rem;
  max-width: 1200px;
  padding: 1rem;
  border-bottom: 2px black solid;
}

.beach-info-buttons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 10px;
}

.beach-info-cards {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
  justify-content: center;
  gap: 2rem; /* Spacing between cards */
  margin-top: 2rem;
}

.info-card {
  background-color: white;
  border-radius: 12px; /* Rounded corners */
  padding: 1.5rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  width: 90%; /* Responsive width */
  max-width: 500px;
  text-align: left;
  color: #003366; /* Darker blue for card content */
}

.card-header {
  display: flex;
  justify-content: space-between; /* Title on left, button on right */
  align-items: center;
  margin-bottom: 1rem;
}

.favorite-button {
  cursor: pointer;
}

.favorite-button:hover {
  background-color: #004999; /* Darker blue on hover */
}

.go-back-button {
  margin-top: 2rem;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.go-back-button:hover {
  background-color: var(--primary-color);
  color: white; /* Invert colors on hover */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}