@import './colors.css';

.favorites-container {
    padding: 20px;
    text-align: center;
    background-color: var(--secondary-color); /* Light tan/beach color */
    min-height: calc(100vh - 120px); 
  }
  
  .favorites-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .view-toggle button {
    margin: 0 5px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
  }
  
   .clear-btn {
    background-color: var(--primary-color);
   }

  .favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  
  .favorites-list.grid {
    flex-direction: row;
  }
  
  .favorites-list.list {
    flex-direction: column;
    align-items: center;
  }
  
  .favorite-item {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    text-align: center;
  }