@import './colors.css';

.favorites-container {
    padding: 20px;
    text-align: center;
    background-color: var(--secondary-color); /* Light tan/beach color */
    min-height: calc(100vh - 120px); 
  }
  
  .favorites-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .view-toggle button {
    margin: 0 5px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
  }

  .remove-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .remove-btn:hover {
    background-color: darkred;
  }
  
  .clear-btn {
    background-color: red;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .clear-btn:hover {
    background-color: darkred; /* Or use #b22222 for a softer red */
  }

  .favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  
  .favorites-list.grid {
    flex-direction: row;
  }
  
  .favorites-list.list {
    flex-direction: column;
    align-items: center;
  }
  
  .favorite-item {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    text-align: center;
  }

  .loading-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .spinner {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 0 auto 10px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }