@import './colors.css';

.home-container {
  text-align: center;
  padding: 20px;
  background-color: var(--secondary-color); /* Tan beach background */
  color: #0066cc; /* Blue text */
  min-height: calc(100vh - 120px); /* Ensure at least 100vh space for the container */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px; /* Increased margin */
  font-family: 'Arial', sans-serif;
   /* Adds a thin line under each row */

}

h2 {
  font-size: 2.0rem;
  margin-bottom: 10px; /* Increased margin */
  font-family: 'Arial', sans-serif;
  color: #000000;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px; /* Adds space between the search input and button */
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

input {
  padding: 15px; /* Increased padding for input */
  font-size: 1.2rem; /* Increased font size */
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 300px; /* Increased width of search bar */
  max-width: 100%; /* Makes input responsive */
}

select {
  padding: 8px 12px; /* Adjust padding for drop-down to make it less tall */
  font-size: 1.1rem; /* Slightly smaller font for better balance */
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 125px; /* Set a fixed width for the drop-down menu */
  background-color: #fff;
  color: #0066cc; /* Matching text color */
}

button {
  padding: 15px 25px; /* Increased padding for button */
  font-size: 1.2rem; /* Increased font size */
  color: white;
  background: #0066cc;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  width: 180px; /* Adjust button width to be larger */
  transition: background 0.3s ease; /* Smooth transition for hover effect */
}

button:hover {
  background: #0055a5;
}

.weather-info-container {
  margin-top: 10px; /* Increased margin */
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns for weather info */
  gap: 10px; /* Reduced gap between columns */
  text-align: justify;
  width: 80%; /* Adjust container width */
  max-width: 1000px;
}

.weather-info {
  font-size: 1.5rem; /* Larger font for weather info */
  font-weight: bold; /* Makes the weather info stand out */
  margin: 0; /* No margin */
  padding: 5px 0; /* Added padding for spacing */
  border-bottom: 1px solid #ddd; /* Adds a thin line under each row */
}

.weather-info p {
  margin: 0; /* Remove default paragraph margin */
  padding: 5px 0; /* Add some spacing between lines */
}

.beach-image {
  width: 100%; /* Makes the image scale responsively */
  max-width: 1000px; /* Allow the image to be larger */
  height: auto;
  margin-top: 30px; /* Increased margin */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Added box shadow for depth */
}
