@import './colors.css';

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 10px 20px;
  color: white;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.navbar-title {
  color: white;
  font-size: 1.8rem;
  margin: 0;
}

.navbar-home-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white; /* Ensures the text stays white */
}

.navbar-home-link:hover {
  text-decoration: none; /* Ensures no underline on hover */
}

.navbar-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.logout-btn {
  border: none;
  cursor: pointer;
  background-color: #f44336;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

.logout-btn:hover {
  background-color: #d32f2f;
}

.custom-search-form {
  display: flex;
  justify-content: center; /* Centers the search bar */
  flex-grow: 1;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  padding: 6px 12px;
  position: relative;
  width: 600px; /* Adjust the width as needed */
  max-width: 90%;
}

.search-dropdown {
  border: none;
  background: transparent;
  font-size: 1rem;
  margin-right: 8px;
  color: #333;
  outline: none;
  width: 150px; /* Adjust the width of the dropdown */
}

.search-input {
  flex: 1;
  border: none;
  font-size: 1rem;
  padding: 4px 10px 10px ;
  outline: none;
  margin-bottom: 0px;
  color: #333;
}

.search-icon {
  width: 30px;
  height: 30px;
  margin-left: 0px; /* Adds space between the input field and icon */
  pointer-events: none; /* Ensures the icon does not block input interaction */
}

.error-message {
  color: #ffb3b3;
  font-size: 0.9rem;
  margin-left: 15px;
}

