@import './colors.css';

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
  background-color: var(--secondary-color); /* Light tan/beach color */
  color: var(--primary-color); /* Blue text color */
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.register-box {
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center; 
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 50px 70px;
}

.register-box .input-group {
  display:flex;
  flex-direction: column;
  gap:5px;
  margin-bottom: 25px;
  width: 100%;
}

.register-box input {
 width:100%;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-top: 10px;
}

.redirect {
  margin-top: 20px;
  font-size: 1rem;
  color: black;
}

.redirect a {
  color: #0066cc;
  text-decoration: none;
}

.redirect a:hover {
  text-decoration: underline;
}