@import './colors.css';

.settings-page {
  background-color: var(--secondary-color);
  min-height: calc(100vh - 80px);
  padding: 2rem 1rem;
  font-family: "Poppins", sans-serif;
}

.settings-title {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #222;
}

.checkbox-row {
  display: flex;
  align-items: flex-start;
  padding-right: 1.3rem;
}

.checkbox-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0.7rem;
}

.checkbox-info span {
  font-weight: 400;
  font-size: 0.95rem;
  color: #666;
}

.checkbox-info input[type="checkbox"] {
  width: 18px;
  height: 18px;
  align-items:center;
  accent-color: var(--primary-color); /* Optional: match your brand color */
  cursor: pointer;
  margin-left: 0.7rem;
  flex-shrink: 0;
}

.settings-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 1100px;
  margin: 0 auto;
}

.settings-card {
  background-color: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}

.form-row.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
}

.settings-card h2 {
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  color: #333;
  border-bottom: 2px solid #eee;
  padding-bottom: 0.5rem;
}

.account-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.2rem;          /* tighter vertical and horizontal padding */
  max-width: 300px;
  max-height: 300px;              /* reduce horizontal width */
  margin: 0 auto;                /* center it horizontally if it doesn't span full column */
  gap: 0;                  /* less space between buttons */
}

.profile-card form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label, .checkbox-title {
  font-weight: 600;
  font-size:larger;
  margin-bottom: 0.4rem;
  color: #444;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  padding: 0.7rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border 0.2s;
}

.form-group input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.settings-button {
  margin-top: 1rem;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.settings-button:hover {
  background-color: #0055a5;
}

.settings-button.secondary {
  background-color: #e0e0e0;
  color: #333;
}

.logout-button {
  background-color: #ff5a5a;
}

.logout-button:hover {
  background-color: #e04444;
}
